@media (max-width: 1030px ){ /* For Laptops when resizing screen */

  .event--title > h3{
    font-size: 15px;
    min-width: 80px;
  }
  .event--title, .event--time, .event--description{
    font-size: 10px;
  }
  .event--title{
    max-height: 50px;
    border-width: 1px !important;
  }

  .event--location{
    margin-right: 50px;
  }
}

@media(max-width: 480px){ /* For mobile phones */
  h3{
    font-size: 6px;
    min-width: 35px;
  }

  .grid--container{
    height: 50px !important;
    margin: 0px 0px 0px 10px;
    
    margin-right: 10px;
  }
  .event--title, .event--time, .event--description{
    font-size: 6px;
  }


  .event--title{
    max-height: 50px;

  }
  .event--location{
    margin-right: 10px !important;
  }

   .tentativeSchedule--column .event--location{
    margin-left: 10px !important;
    margin-right: 10px;
  } 

  .tentativeSchedule--column .event--container{
    max-height: 50px;
  }

  .popup--container{
    scale: 50%;
  }
  .popup--container h3{
    font-size: 20px;
  }
}

:root {
  --primary-color: ;
  --primary-focus: #04121C;
  --secondary-color: #2047DD;
  --accent-color: #AC20DD;

  --neutral-focus: #BDDff5;
  --neutral-content: #A0CFED;

  --base-100: #273642;
  --base-200: #16232E;
  --base-300: #04121C;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #f4f9ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: clamp(2rem, 1.0000rem + 4.4444vw, 4rem);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin: 0 !important;
  padding: 0;
  color: var(--primary-focus);
}

h2{
  font-family: "Poppins";
  color: black
}

.tentativeSchedule--container .event--container{
  display: grid !important ; 
  grid-template-columns: 30% 40% 1fr !important ;
  
  align-items: center;
  justify-content: space-evenly;

  height: 100px;

  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%); */
  box-shadow: -5px 14px 23px -2px rgb(0 0 0 / 10%);  
  
  background-color: #FFFFFF;
  border-radius: 60px;

  font-size: 15px;
  color:black
}

.tentativeSchedule--container .event--location{
  margin-left: 30px ;
  max-width: 100px !;
  padding: 5px;
}

.event--table{
  padding: 15px 0px;
  font-family:"Poppins";
  
}


.grid--container{
  display: grid !important ; 
  grid-template-columns: 1fr 1fr 2fr 1fr !important ;
  align-items: center;
  justify-content: space-evenly;

  height: 100px;

  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%); */
  box-shadow: -5px 14px 23px -2px rgb(0 0 0 / 10%);  
  
  background-color: #FFFFFF;
  border-radius: 60px;

  font-size: 15px;
  color:black
}

.grid--container > div {
  padding: 0px 10px;
}

.event--title{
  border-left: solid;
  border-right: solid;
  border-width: 2px;
}

.event--description{
  text-align: left;
  max-width: 500px;
}

.event--location{
  background-color: #bddff5 ;
  margin-right: 15px;
  border-radius: 30px;
}

.tentativeSchedule--container{
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: -30px;
}

.tentativeSchedule--column{
  scale: 90%;
}


.popup--overlay{
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;

  height: 100vh;
  width: 100%;

  background:rgba(0, 0, 0, 0.5); /* Prevents children opacity change, only changes background opacity*/

  justify-content: center;
  align-items: center;
}

.popup--container {

  background-color: white;
  border-radius: 60px;
  margin: 0 50px;

  padding: 15px;
  color:black;  

}

.popup--container > img{
  pointer-events: none; /* Makes close window button clicable */

}


/* .event--table .event--container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
} */
